h1{
    text-align: center;
}

.search{
    padding: 1%;
    text-align: center;
}
.tasks{
    padding: 1%;
    text-align: center;
}
.task_show{
    text-align: center;
    padding: 3%;
}

.task_title{
    padding: 1%;
}
.task_status{
    padding: 1%;
}

.table_form{
    padding-left: 30%;
}
.table_submit{
    text-align: center;
}
